<template>
    <div>
        <svg
            height="100%"
            version="1.0"
            viewBox="0 0 810 525"
            xmlns="http://www.w3.org/2000/svg"
            zoomAndPan="magnify"
        >
            <g transform="translate(3.5694 -134.03)">
                <g fill="#f0f">
                    <g transform="translate(28.294,374.38)">
                        <path
                            d="m221.59-8.5234h-17.738v-0.23047l-5.7578-14.281h13.129l-12.438-30.637h-18.199l-5.7578-14.512h12.207l-14.742-36.625h10.598l-1.8438-4.8359h-17.043l-9.4453-23.266h11.285l-5.9883-14.512h-17.047l-8.5195-20.961c0-0.23047-0.23047-0.46094-0.23047-0.92188h-9.9062c-0.46094-0.92187-0.92188-1.8438-1.1523-2.5352-0.23047-0.6875-0.69141-1.3789-0.92188-2.3008h28.793c-2.3008-5.9883-6.6797-11.059-12.207-14.281h-6.9102c-4.1445-2.5352-8.9844-3.918-14.281-3.918-5.0664 0-10.137 1.3828-14.281 3.918h6.6797c-0.46094 0.23047-0.92188 0.69141-1.6133 0.92188-1.1523 0.69141-2.3008 1.6094-3.2227 2.3008-2.7656 2.3047-5.0703 5.9883-7.6016 11.059h-28.793c-0.69141 1.6133-1.3828 3.2227-2.0742 4.8359h9.6758c0 0.46094-0.23047 0.69141-0.23047 0.92188l-8.5234 20.961h17.043l-5.7578 14.512h-11.285l-9.4453 23.266h17.047l-1.8438 4.8359h-10.828l-14.742 36.625h-12.207l-5.7578 14.512h18.195l-12.438 30.637h-13.359l-5.5273 14.281s-0.23047 0-0.23047 0.23047h17.965c-0.69141 1.8438-0.92187 3.2266-0.69141 4.6094h-18.426c0.23047 0.23047 0.23047 0.45703 0.23047 0.6875 0.23047 1.3828 1.3828 3.457 5.0664 3.457h25.34c2.7617 0 4.8359-1.6133 5.9883-4.1445h18.426c0.23047-0.23047 0.46094-0.46094 0.46094-0.69141l1.6133-3.918h-17.965l5.7578-14.512h13.359l5.7578-14.512h50.445c2.5352 0 4.8398-1.1523 5.9883-3.2227 1.3828-1.8438 1.6133-4.3789 0.92188-6.6836l-2.5312-6.2188h-18.199l-5.7578-14.281v-0.23047h12.207c-1.1523-2.5312-3.6836-4.375-6.6797-4.375h-28.332l4.1484-10.367h23.031v-2.5312h-22.113l7.6016-19.352h10.598l2.0742-4.8359h-17.047l9.2148-23.266h11.285l5.5273-14.281 0.23047-0.23047h1.3828l5.7578 14.512h-11.285l9.4453 23.266h17.043l1.8438 4.8359h-10.598l14.516 36.625h-12.211l5.7578 14.512h18.199l12.438 30.637h-13.359l5.7578 14.512h17.969l1.3828 3.6875c0.23047 0.46094 0.46094 0.69141 0.46094 0.92188h-18.43c1.3828 2.5312 3.457 4.1445 6.2188 4.1445h24.648c3.6836 0 4.6055-2.3047 5.0664-3.457v-0.6875h18.43c0.23047-1.3828 0-2.7656-0.69141-4.6094zm-116.32-20.5h38.695v2.3047h-38.695zm-40.082 12.668h25.34v2.5352h-25.34z"
                        />
                    </g>
                    <g transform="translate(266,374.38)">
                        <path
                            d="m185.43-189.8h-152.49c-2.0703 0-6.6797 0.69141-6.6797 7.832v7.3711h-17.734v10.594c0 7.6016 4.6055 8.293 6.6797 8.293h59.199v6.9102h25.105v5.5312h-20.73v32.477h13.359v16.816h-9.6719v25.336h9.6719v5.5312h-13.359v16.582h13.359v16.586h-12.668v16.355h20.039v5.7578c0 7.1406 4.6094 7.832 6.4531 7.832h21.422c1.8398 0 6.4492-0.69141 6.4492-7.832v-5.7578h-5.9883v-16.355h-6.9141 13.824v-16.586h-21.652v-16.582h21.652v-5.5312h-17.969v-25.336h15.434v-16.816h-19.117v-32.477h41.922v-5.5312h-46.531v-6.9102h59.199c2.0742 0 6.6797-0.69141 6.6797-8.293v-10.594h17.738v-7.3711c0-7.1406-4.6094-7.832-6.6797-7.832zm-23.727 64.035h-33.402v-5.9883h33.402zm-92.598-14.512h-42.848v-2.9922h42.848z"
                        />
                    </g>
                    <g transform="translate(480.21,374.38)">
                        <path
                            d="m175.75-6.2188h-11.977c-0.23047-1.6133-0.23047-2.7656-0.92188-3.6875l-6.6797-11.746h15.434l-2.9961-5.0664h-12.207l-13.594-23.496h8.7539l-8.7539-15.203h-14.738l-7.832-13.59c-2.5352-4.3789-5.0703-8.0625-7.6016-11.52h37.543c-1.3789-1.8398-2.9922-3.4531-4.375-5.0664h-35.242c-0.69141-0.46094-1.1523-1.1523-1.8438-1.6133 1.6133-1.8398 2.9961-3.6836 4.6094-5.9883 1.8398-2.9922 3.9141-6.4492 6.2188-10.363l11.977-21.195h6.4492l8.7539-15.203h7.1406l5.9883-10.594h-12.438l8.7539-15.434h11.055l2.5352-4.375c0.69141-1.6133 0.92188-3.457 0.69141-5.5312-0.69141-2.5312-2.5352-3.9141-5.3008-3.9141h-22.801c-2.5352 0-4.1484 0.46094-5.0703 1.3828-0.92188 0.69141-1.8438 1.6133-2.5312 3.2227l-5.3008 9.2148h-11.055l-8.5234 15.434h12.438l-5.9883 10.594h-7.3711l-8.7539 15.203h-6.4492l-6.2188 11.059c-1.1523 2.3047-2.5352 4.1445-3.9141 5.7578-0.92188 1.3828-2.3047 2.5352-3.6875 3.2266-1.1523 0.69141-2.7656 1.1523-4.6055 1.3789-2.0742 0.23047-4.6094 0.46094-7.6016 0.46094h-21.191v-21.883h17.043v-15.203h-3.2227v-10.594h-12.441v-15.434h11.059v-5.7578c0-7.3711-4.6055-8.0625-6.4492-8.0625h-21.191c-1.8438 0-6.6797 0.69141-6.6797 8.0625v5.7578h-10.828v15.434h12.438v10.594h-9.2109v15.203h-4.6094v39.16h13.82v5.0664h-16.121v25.109h14.742v15.203h-11.75v23.496h7.6016v5.0664h-8.0625v13.82c0 0.46094 0.23047 1.1523 0.23047 1.6133h11.98c0.46094 5.5273 4.6055 6.4492 6.4492 6.4492h20.961c1.8438 0 5.7578-0.92188 6.4492-6.4492h-11.977c0-0.46094 0.23047-1.1523 0.23047-1.6133v-13.82h37.312v-5.0664h-36.852v-23.496h11.516v-15.203h-14.742v-13.359h23.266c5.7578 0 9.9023 0.69141 12.438 2.3008 2.5352 1.3828 5.0664 4.3789 7.6016 8.9844l1.3828 2.0742h14.512l8.7539 15.203h-8.7539l13.359 23.496h12.207l2.7656 5.0664h-15.434l8.7539 15.434h11.977l0.92187 1.8438c0.92188 1.3789 1.6133 2.5312 2.5352 3.2227 1.1523 0.92188 2.7617 1.3828 4.8359 1.3828h25.109c2.9922 0 5.0664-1.8438 5.2969-4.8359v-1.6133zm-79.008-159.86h-33.633v-2.9961h33.633zm-9.4453 106.65h-22.344v-2.9922h22.344zm24.418 51.137h-32.25v-2.3047h32.25z"
                        />
                    </g>
                    <g transform="translate(679.9,374.38)">
                        <path
                            d="m41.922-122.77h-17.734v2.9922h17.734zm47.453 40.77h-17.738v3.2266h17.738zm-63.348-24.184v11.516c0 1.1523 0.23047 2.0742 0.46094 2.7656h-16.812c0.92188 2.3008 2.7617 3.4531 5.2969 3.4531h70.945c2.5352 0 4.3789-1.1523 5.0703-3.4531h16.812c0.23047-0.69141 0.46094-1.6133 0.46094-2.7656v-11.516h-19.348v-1.8438c0-1.1523-0.23047-2.0742-0.46094-2.9961h18.426c-0.69141-2.0742-2.5312-3.2227-5.0664-3.2227h-70.715c-2.5352 0-4.1484 1.1484-5.0703 3.2227h-18.656c-0.23047 0.92188-0.46094 1.8438-0.46094 2.9961v1.8438z"
                        />
                    </g>
                </g>
                <g fill="#0ff">
                    <g transform="translate(-.50037 374.38)">
                        <path
                            d="m221.59-8.5234h-17.738v-0.23047l-5.7578-14.281h13.129l-12.438-30.637h-18.199l-5.7578-14.512h12.207l-14.742-36.625h10.598l-1.8438-4.8359h-17.043l-9.4453-23.266h11.285l-5.9883-14.512h-17.047l-8.5195-20.961c0-0.23047-0.23047-0.46094-0.23047-0.92188h-9.9062c-0.46094-0.92187-0.92188-1.8438-1.1523-2.5352-0.23047-0.6875-0.69141-1.3789-0.92188-2.3008h28.793c-2.3008-5.9883-6.6797-11.059-12.207-14.281h-6.9102c-4.1445-2.5352-8.9844-3.918-14.281-3.918-5.0664 0-10.137 1.3828-14.281 3.918h6.6797c-0.46094 0.23047-0.92188 0.69141-1.6133 0.92188-1.1523 0.69141-2.3008 1.6094-3.2227 2.3008-2.7656 2.3047-5.0703 5.9883-7.6016 11.059h-28.793c-0.69141 1.6133-1.3828 3.2227-2.0742 4.8359h9.6758c0 0.46094-0.23047 0.69141-0.23047 0.92188l-8.5234 20.961h17.043l-5.7578 14.512h-11.285l-9.4453 23.266h17.047l-1.8438 4.8359h-10.828l-14.742 36.625h-12.207l-5.7578 14.512h18.195l-12.438 30.637h-13.359l-5.5273 14.281s-0.23047 0-0.23047 0.23047h17.965c-0.69141 1.8438-0.92187 3.2266-0.69141 4.6094h-18.426c0.23047 0.23047 0.23047 0.45703 0.23047 0.6875 0.23047 1.3828 1.3828 3.457 5.0664 3.457h25.34c2.7617 0 4.8359-1.6133 5.9883-4.1445h18.426c0.23047-0.23047 0.46094-0.46094 0.46094-0.69141l1.6133-3.918h-17.965l5.7578-14.512h13.359l5.7578-14.512h50.445c2.5352 0 4.8398-1.1523 5.9883-3.2227 1.3828-1.8438 1.6133-4.3789 0.92188-6.6836l-2.5312-6.2188h-18.199l-5.7578-14.281v-0.23047h12.207c-1.1523-2.5312-3.6836-4.375-6.6797-4.375h-28.332l4.1484-10.367h23.031v-2.5312h-22.113l7.6016-19.352h10.598l2.0742-4.8359h-17.047l9.2148-23.266h11.285l5.5273-14.281 0.23047-0.23047h1.3828l5.7578 14.512h-11.285l9.4453 23.266h17.043l1.8438 4.8359h-10.598l14.516 36.625h-12.211l5.7578 14.512h18.199l12.438 30.637h-13.359l5.7578 14.512h17.969l1.3828 3.6875c0.23047 0.46094 0.46094 0.69141 0.46094 0.92188h-18.43c1.3828 2.5312 3.457 4.1445 6.2188 4.1445h24.648c3.6836 0 4.6055-2.3047 5.0664-3.457v-0.6875h18.43c0.23047-1.3828 0-2.7656-0.69141-4.6094zm-116.32-20.5h38.695v2.3047h-38.695zm-40.082 12.668h25.34v2.5352h-25.34z"
                        />
                    </g>
                    <g transform="translate(237.2,374.38)">
                        <path
                            d="m185.43-189.8h-152.49c-2.0703 0-6.6797 0.69141-6.6797 7.832v7.3711h-17.734v10.594c0 7.6016 4.6055 8.293 6.6797 8.293h59.199v6.9102h25.105v5.5312h-20.73v32.477h13.359v16.816h-9.6719v25.336h9.6719v5.5312h-13.359v16.582h13.359v16.586h-12.668v16.355h20.039v5.7578c0 7.1406 4.6094 7.832 6.4531 7.832h21.422c1.8398 0 6.4492-0.69141 6.4492-7.832v-5.7578h-5.9883v-16.355h-6.9141 13.824v-16.586h-21.652v-16.582h21.652v-5.5312h-17.969v-25.336h15.434v-16.816h-19.117v-32.477h41.922v-5.5312h-46.531v-6.9102h59.199c2.0742 0 6.6797-0.69141 6.6797-8.293v-10.594h17.738v-7.3711c0-7.1406-4.6094-7.832-6.6797-7.832zm-23.727 64.035h-33.402v-5.9883h33.402zm-92.598-14.512h-42.848v-2.9922h42.848z"
                        />
                    </g>
                    <g transform="translate(451.41,374.38)">
                        <path
                            d="m175.75-6.2188h-11.977c-0.23047-1.6133-0.23047-2.7656-0.92188-3.6875l-6.6797-11.746h15.434l-2.9961-5.0664h-12.207l-13.594-23.496h8.7539l-8.7539-15.203h-14.738l-7.832-13.59c-2.5352-4.3789-5.0703-8.0625-7.6016-11.52h37.543c-1.3789-1.8398-2.9922-3.4531-4.375-5.0664h-35.242c-0.69141-0.46094-1.1523-1.1523-1.8438-1.6133 1.6133-1.8398 2.9961-3.6836 4.6094-5.9883 1.8398-2.9922 3.9141-6.4492 6.2188-10.363l11.977-21.195h6.4492l8.7539-15.203h7.1406l5.9883-10.594h-12.438l8.7539-15.434h11.055l2.5352-4.375c0.69141-1.6133 0.92188-3.457 0.69141-5.5312-0.69141-2.5312-2.5352-3.9141-5.3008-3.9141h-22.801c-2.5352 0-4.1484 0.46094-5.0703 1.3828-0.92188 0.69141-1.8438 1.6133-2.5312 3.2227l-5.3008 9.2148h-11.055l-8.5234 15.434h12.438l-5.9883 10.594h-7.3711l-8.7539 15.203h-6.4492l-6.2188 11.059c-1.1523 2.3047-2.5352 4.1445-3.9141 5.7578-0.92188 1.3828-2.3047 2.5352-3.6875 3.2266-1.1523 0.69141-2.7656 1.1523-4.6055 1.3789-2.0742 0.23047-4.6094 0.46094-7.6016 0.46094h-21.191v-21.883h17.043v-15.203h-3.2227v-10.594h-12.441v-15.434h11.059v-5.7578c0-7.3711-4.6055-8.0625-6.4492-8.0625h-21.191c-1.8438 0-6.6797 0.69141-6.6797 8.0625v5.7578h-10.828v15.434h12.438v10.594h-9.2109v15.203h-4.6094v39.16h13.82v5.0664h-16.121v25.109h14.742v15.203h-11.75v23.496h7.6016v5.0664h-8.0625v13.82c0 0.46094 0.23047 1.1523 0.23047 1.6133h11.98c0.46094 5.5273 4.6055 6.4492 6.4492 6.4492h20.961c1.8438 0 5.7578-0.92188 6.4492-6.4492h-11.977c0-0.46094 0.23047-1.1523 0.23047-1.6133v-13.82h37.312v-5.0664h-36.852v-23.496h11.516v-15.203h-14.742v-13.359h23.266c5.7578 0 9.9023 0.69141 12.438 2.3008 2.5352 1.3828 5.0664 4.3789 7.6016 8.9844l1.3828 2.0742h14.512l8.7539 15.203h-8.7539l13.359 23.496h12.207l2.7656 5.0664h-15.434l8.7539 15.434h11.977l0.92187 1.8438c0.92188 1.3789 1.6133 2.5312 2.5352 3.2227 1.1523 0.92188 2.7617 1.3828 4.8359 1.3828h25.109c2.9922 0 5.0664-1.8438 5.2969-4.8359v-1.6133zm-79.008-159.86h-33.633v-2.9961h33.633zm-9.4453 106.65h-22.344v-2.9922h22.344zm24.418 51.137h-32.25v-2.3047h32.25z"
                        />
                    </g>
                    <g transform="translate(651.11,374.38)">
                        <path
                            d="m41.922-122.77h-17.734v2.9922h17.734zm47.453 40.77h-17.738v3.2266h17.738zm-63.348-24.184v11.516c0 1.1523 0.23047 2.0742 0.46094 2.7656h-16.812c0.92188 2.3008 2.7617 3.4531 5.2969 3.4531h70.945c2.5352 0 4.3789-1.1523 5.0703-3.4531h16.812c0.23047-0.69141 0.46094-1.6133 0.46094-2.7656v-11.516h-19.348v-1.8438c0-1.1523-0.23047-2.0742-0.46094-2.9961h18.426c-0.69141-2.0742-2.5312-3.2227-5.0664-3.2227h-70.715c-2.5352 0-4.1484 1.1484-5.0703 3.2227h-18.656c-0.23047 0.92188-0.46094 1.8438-0.46094 2.9961v1.8438z"
                        />
                    </g>
                </g>
                <g fill="#fff">
                    <g transform="translate(13.897,374.38)">
                        <path
                            d="m221.59-8.5234h-17.738v-0.23047l-5.7578-14.281h13.129l-12.438-30.637h-18.199l-5.7578-14.512h12.207l-14.742-36.625h10.598l-1.8438-4.8359h-17.043l-9.4453-23.266h11.285l-5.9883-14.512h-17.047l-8.5195-20.961c0-0.23047-0.23047-0.46094-0.23047-0.92188h-9.9062c-0.46094-0.92187-0.92188-1.8438-1.1523-2.5352-0.23047-0.6875-0.69141-1.3789-0.92188-2.3008h28.793c-2.3008-5.9883-6.6797-11.059-12.207-14.281h-6.9102c-4.1445-2.5352-8.9844-3.918-14.281-3.918-5.0664 0-10.137 1.3828-14.281 3.918h6.6797c-0.46094 0.23047-0.92188 0.69141-1.6133 0.92188-1.1523 0.69141-2.3008 1.6094-3.2227 2.3008-2.7656 2.3047-5.0703 5.9883-7.6016 11.059h-28.793c-0.69141 1.6133-1.3828 3.2227-2.0742 4.8359h9.6758c0 0.46094-0.23047 0.69141-0.23047 0.92188l-8.5234 20.961h17.043l-5.7578 14.512h-11.285l-9.4453 23.266h17.047l-1.8438 4.8359h-10.828l-14.742 36.625h-12.207l-5.7578 14.512h18.195l-12.438 30.637h-13.359l-5.5273 14.281s-0.23047 0-0.23047 0.23047h17.965c-0.69141 1.8438-0.92187 3.2266-0.69141 4.6094h-18.426c0.23047 0.23047 0.23047 0.45703 0.23047 0.6875 0.23047 1.3828 1.3828 3.457 5.0664 3.457h25.34c2.7617 0 4.8359-1.6133 5.9883-4.1445h18.426c0.23047-0.23047 0.46094-0.46094 0.46094-0.69141l1.6133-3.918h-17.965l5.7578-14.512h13.359l5.7578-14.512h50.445c2.5352 0 4.8398-1.1523 5.9883-3.2227 1.3828-1.8438 1.6133-4.3789 0.92188-6.6836l-2.5312-6.2188h-18.199l-5.7578-14.281v-0.23047h12.207c-1.1523-2.5312-3.6836-4.375-6.6797-4.375h-28.332l4.1484-10.367h23.031v-2.5312h-22.113l7.6016-19.352h10.598l2.0742-4.8359h-17.047l9.2148-23.266h11.285l5.5273-14.281 0.23047-0.23047h1.3828l5.7578 14.512h-11.285l9.4453 23.266h17.043l1.8438 4.8359h-10.598l14.516 36.625h-12.211l5.7578 14.512h18.199l12.438 30.637h-13.359l5.7578 14.512h17.969l1.3828 3.6875c0.23047 0.46094 0.46094 0.69141 0.46094 0.92188h-18.43c1.3828 2.5312 3.457 4.1445 6.2188 4.1445h24.648c3.6836 0 4.6055-2.3047 5.0664-3.457v-0.6875h18.43c0.23047-1.3828 0-2.7656-0.69141-4.6094zm-116.32-20.5h38.695v2.3047h-38.695zm-40.082 12.668h25.34v2.5352h-25.34z"
                        />
                    </g>
                    <g transform="translate(251.6,374.38)">
                        <path
                            d="m185.43-189.8h-152.49c-2.0703 0-6.6797 0.69141-6.6797 7.832v7.3711h-17.734v10.594c0 7.6016 4.6055 8.293 6.6797 8.293h59.199v6.9102h25.105v5.5312h-20.73v32.477h13.359v16.816h-9.6719v25.336h9.6719v5.5312h-13.359v16.582h13.359v16.586h-12.668v16.355h20.039v5.7578c0 7.1406 4.6094 7.832 6.4531 7.832h21.422c1.8398 0 6.4492-0.69141 6.4492-7.832v-5.7578h-5.9883v-16.355h-6.9141 13.824v-16.586h-21.652v-16.582h21.652v-5.5312h-17.969v-25.336h15.434v-16.816h-19.117v-32.477h41.922v-5.5312h-46.531v-6.9102h59.199c2.0742 0 6.6797-0.69141 6.6797-8.293v-10.594h17.738v-7.3711c0-7.1406-4.6094-7.832-6.6797-7.832zm-23.727 64.035h-33.402v-5.9883h33.402zm-92.598-14.512h-42.848v-2.9922h42.848z"
                        />
                    </g>
                    <g transform="translate(465.81,374.38)">
                        <path
                            d="m175.75-6.2188h-11.977c-0.23047-1.6133-0.23047-2.7656-0.92188-3.6875l-6.6797-11.746h15.434l-2.9961-5.0664h-12.207l-13.594-23.496h8.7539l-8.7539-15.203h-14.738l-7.832-13.59c-2.5352-4.3789-5.0703-8.0625-7.6016-11.52h37.543c-1.3789-1.8398-2.9922-3.4531-4.375-5.0664h-35.242c-0.69141-0.46094-1.1523-1.1523-1.8438-1.6133 1.6133-1.8398 2.9961-3.6836 4.6094-5.9883 1.8398-2.9922 3.9141-6.4492 6.2188-10.363l11.977-21.195h6.4492l8.7539-15.203h7.1406l5.9883-10.594h-12.438l8.7539-15.434h11.055l2.5352-4.375c0.69141-1.6133 0.92188-3.457 0.69141-5.5312-0.69141-2.5312-2.5352-3.9141-5.3008-3.9141h-22.801c-2.5352 0-4.1484 0.46094-5.0703 1.3828-0.92188 0.69141-1.8438 1.6133-2.5312 3.2227l-5.3008 9.2148h-11.055l-8.5234 15.434h12.438l-5.9883 10.594h-7.3711l-8.7539 15.203h-6.4492l-6.2188 11.059c-1.1523 2.3047-2.5352 4.1445-3.9141 5.7578-0.92188 1.3828-2.3047 2.5352-3.6875 3.2266-1.1523 0.69141-2.7656 1.1523-4.6055 1.3789-2.0742 0.23047-4.6094 0.46094-7.6016 0.46094h-21.191v-21.883h17.043v-15.203h-3.2227v-10.594h-12.441v-15.434h11.059v-5.7578c0-7.3711-4.6055-8.0625-6.4492-8.0625h-21.191c-1.8438 0-6.6797 0.69141-6.6797 8.0625v5.7578h-10.828v15.434h12.438v10.594h-9.2109v15.203h-4.6094v39.16h13.82v5.0664h-16.121v25.109h14.742v15.203h-11.75v23.496h7.6016v5.0664h-8.0625v13.82c0 0.46094 0.23047 1.1523 0.23047 1.6133h11.98c0.46094 5.5273 4.6055 6.4492 6.4492 6.4492h20.961c1.8438 0 5.7578-0.92188 6.4492-6.4492h-11.977c0-0.46094 0.23047-1.1523 0.23047-1.6133v-13.82h37.312v-5.0664h-36.852v-23.496h11.516v-15.203h-14.742v-13.359h23.266c5.7578 0 9.9023 0.69141 12.438 2.3008 2.5352 1.3828 5.0664 4.3789 7.6016 8.9844l1.3828 2.0742h14.512l8.7539 15.203h-8.7539l13.359 23.496h12.207l2.7656 5.0664h-15.434l8.7539 15.434h11.977l0.92187 1.8438c0.92188 1.3789 1.6133 2.5312 2.5352 3.2227 1.1523 0.92188 2.7617 1.3828 4.8359 1.3828h25.109c2.9922 0 5.0664-1.8438 5.2969-4.8359v-1.6133zm-79.008-159.86h-33.633v-2.9961h33.633zm-9.4453 106.65h-22.344v-2.9922h22.344zm24.418 51.137h-32.25v-2.3047h32.25z"
                        />
                    </g>
                    <g transform="translate(665.51,374.38)">
                        <path
                            d="m41.922-122.77h-17.734v2.9922h17.734zm47.453 40.77h-17.738v3.2266h17.738zm-63.348-24.184v11.516c0 1.1523 0.23047 2.0742 0.46094 2.7656h-16.812c0.92188 2.3008 2.7617 3.4531 5.2969 3.4531h70.945c2.5352 0 4.3789-1.1523 5.0703-3.4531h16.812c0.23047-0.69141 0.46094-1.6133 0.46094-2.7656v-11.516h-19.348v-1.8438c0-1.1523-0.23047-2.0742-0.46094-2.9961h18.426c-0.69141-2.0742-2.5312-3.2227-5.0664-3.2227h-70.715c-2.5352 0-4.1484 1.1484-5.0703 3.2227h-18.656c-0.23047 0.92188-0.46094 1.8438-0.46094 2.9961v1.8438z"
                        />
                    </g>
                </g>
                <g fill="#f0f"></g>
                <g fill="#0ff"></g>
                <g fill="#fff"></g>
                <g fill="#f0f">
                    <g transform="translate(163.04,610.78)">
                        <path
                            d="m195.33-162.86 10.137-17.504h-21.422l0.69141-1.1523c0.92188-1.6133 1.1523-3.457 0.46094-5.2969-0.69141-1.8438-2.3047-2.9961-4.1484-2.9961h-25.566c-2.0742 0-4.8398 0.69141-6.6797 4.1445l-2.7656 5.3008h21.191l-9.4453 17.504h-19.809l-9.2148 17.277h9.6758l-0.23047 0.23047h9.9062l-6.6797 12.207h-21.422l-17.047 30.867h-9.9062l-16.812-30.867h21.422l-6.6797-12.207h-9.6758l-0.23047-0.23047h-9.6758l-9.4414-17.277h19.578l-9.4453-17.504h-21.422l-2.7656-5.0703c-1.8398-3.6836-4.6055-4.375-6.6797-4.375h-26.027c-2.0742 0-3.6875 1.1523-4.375 3.2227-0.46094 1.6133-0.23047 3.457 0.6875 5.0703l0.69141 1.1523h21.191l9.9062 17.504h-19.578l9.6719 17.277h9.6758v0.23047h9.9062l6.9102 12.207h-21.422l17.273 30.867h23.727l8.0625 14.051h-23.727l5.7578 10.367h23.957l9.6758 17.734h-18.43l1.1523 1.8438v22.113h11.75v16.355h-20.273v13.59h24.418c0.69141 5.5273 4.6055 6.2188 6.4492 6.2188h21.191c1.6133 0 5.5312-0.69141 6.2188-6.2188h-9.6719c0.23047-0.69141 0.23047-1.1523 0.23047-1.6133v-11.977h5.5273v-16.355h-11.746v-22.113l1.1484-1.8438h18.43l10.137-17.734h-23.957l5.9883-10.367h23.727l8.0625-14.051h-23.957l17.508-30.867h21.422l6.9102-12.207h-9.6758v-0.23047h-9.6758l9.6758-17.277zm-68.18-15.203h-38.238v-4.6055h38.238zm-19.812 27.184h-24.184v-4.6094h24.184zm48.145 99.738h-23.266v-3.6875h23.266zm-78.32-14.512h-24.645v-5.2969h24.645z"
                        />
                    </g>
                    <g transform="translate(386.23,610.78)">
                        <path
                            d="m185.43-189.8h-152.49c-2.0703 0-6.6797 0.69141-6.6797 7.832v7.3711h-17.734v10.594c0 7.6016 4.6055 8.293 6.6797 8.293h59.199v6.9102h25.105v5.5312h-20.73v32.477h13.359v16.816h-9.6719v25.336h9.6719v5.5312h-13.359v16.582h13.359v16.586h-12.668v16.355h20.039v5.7578c0 7.1406 4.6094 7.832 6.4531 7.832h21.422c1.8398 0 6.4492-0.69141 6.4492-7.832v-5.7578h-5.9883v-16.355h-6.9141 13.824v-16.586h-21.652v-16.582h21.652v-5.5312h-17.969v-25.336h15.434v-16.816h-19.117v-32.477h41.922v-5.5312h-46.531v-6.9102h59.199c2.0742 0 6.6797-0.69141 6.6797-8.293v-10.594h17.738v-7.3711c0-7.1406-4.6094-7.832-6.6797-7.832zm-23.727 64.035h-33.402v-5.9883h33.402zm-92.598-14.512h-42.848v-2.9922h42.848z"
                        />
                    </g>
                    <g transform="translate(600.44,610.78)">
                        <path
                            d="m170-128.53v-5.5312c0-7.3711-0.46094-14.051-1.6133-20.039h9.9062c-0.23047-1.8438-0.69141-3.6836-1.1523-5.5273h-14.742c-1.6133-5.9883-3.918-11.289-7.1406-15.434-0.23047-0.46094-0.46094-0.69141-0.92188-1.1523h17.277c-7.1406-8.9844-18.199-13.59-33.172-13.59h-106.19c-2.0742 0-6.6797 0.69141-6.6797 8.0625v5.5273h-17.047v12.668c0 1.6133 0.23047 2.9961 0.69141 3.918h23.723c1.3828 3.4531 4.3789 3.9141 5.9922 3.9141h100.2c3.2266 0 5.9883 0.69141 8.0625 1.6133h-19.117c1.8398 0.92187 3.2227 1.8438 4.1445 3.457 2.5352 3.4531 3.6836 8.9805 3.6836 16.582 0 2.0742 0 3.6875-0.23047 5.5312h21.656c-0.46094 4.8359-1.6133 8.5195-3.457 11.055-2.3047 3.457-6.4492 5.0664-12.207 5.0664h-100.43c-0.69141 0-1.6094 0-2.5312 0.46094h-14.742c-1.8438 0.69141-3.918 2.7656-3.918 7.3711v19.812h-18.887v5.5273h27.871v42.383h-6.2188v16.586h-26.031v11.516h28.797v0.92188c0 7.1406 4.6055 8.0625 6.6797 8.0625h20.961c2.0703 0 6.4492-0.92188 6.4492-8.0625v-0.92188h-5.5273v-11.516h19.348v-16.586h-10.367v-41.461l78.781-0.23047c3.9141 0 7.3711-0.23047 10.594-0.69141h-16.355c5.7617-1.1523 10.598-2.9961 14.742-5.5273h7.3711c3.457-2.3047 6.2227-5.0703 8.7539-8.293 3.457-5.0703 5.9883-11.52 7.832-18.891h6.6797c0.92188-5.0664 1.8438-10.594 2.0742-16.582zm-94.441-9.9062h-48.605v-5.9883h48.605zm43.074 14.512h-37.086v-4.6055h37.086zm19.809 75.324h-58.738v-4.6094h58.738zm-32.707-17.277h-42.617v-2.9961h42.617z"
                        />
                    </g>
                </g>
                <g fill="#0ff">
                    <g transform="translate(134.24,610.78)">
                        <path
                            d="m195.33-162.86 10.137-17.504h-21.422l0.69141-1.1523c0.92188-1.6133 1.1523-3.457 0.46094-5.2969-0.69141-1.8438-2.3047-2.9961-4.1484-2.9961h-25.566c-2.0742 0-4.8398 0.69141-6.6797 4.1445l-2.7656 5.3008h21.191l-9.4453 17.504h-19.809l-9.2148 17.277h9.6758l-0.23047 0.23047h9.9062l-6.6797 12.207h-21.422l-17.047 30.867h-9.9062l-16.812-30.867h21.422l-6.6797-12.207h-9.6758l-0.23047-0.23047h-9.6758l-9.4414-17.277h19.578l-9.4453-17.504h-21.422l-2.7656-5.0703c-1.8398-3.6836-4.6055-4.375-6.6797-4.375h-26.027c-2.0742 0-3.6875 1.1523-4.375 3.2227-0.46094 1.6133-0.23047 3.457 0.6875 5.0703l0.69141 1.1523h21.191l9.9062 17.504h-19.578l9.6719 17.277h9.6758v0.23047h9.9062l6.9102 12.207h-21.422l17.273 30.867h23.727l8.0625 14.051h-23.727l5.7578 10.367h23.957l9.6758 17.734h-18.43l1.1523 1.8438v22.113h11.75v16.355h-20.273v13.59h24.418c0.69141 5.5273 4.6055 6.2188 6.4492 6.2188h21.191c1.6133 0 5.5312-0.69141 6.2188-6.2188h-9.6719c0.23047-0.69141 0.23047-1.1523 0.23047-1.6133v-11.977h5.5273v-16.355h-11.746v-22.113l1.1484-1.8438h18.43l10.137-17.734h-23.957l5.9883-10.367h23.727l8.0625-14.051h-23.957l17.508-30.867h21.422l6.9102-12.207h-9.6758v-0.23047h-9.6758l9.6758-17.277zm-68.18-15.203h-38.238v-4.6055h38.238zm-19.812 27.184h-24.184v-4.6094h24.184zm48.145 99.738h-23.266v-3.6875h23.266zm-78.32-14.512h-24.645v-5.2969h24.645z"
                        />
                    </g>
                    <g transform="translate(357.43,610.78)">
                        <path
                            d="m185.43-189.8h-152.49c-2.0703 0-6.6797 0.69141-6.6797 7.832v7.3711h-17.734v10.594c0 7.6016 4.6055 8.293 6.6797 8.293h59.199v6.9102h25.105v5.5312h-20.73v32.477h13.359v16.816h-9.6719v25.336h9.6719v5.5312h-13.359v16.582h13.359v16.586h-12.668v16.355h20.039v5.7578c0 7.1406 4.6094 7.832 6.4531 7.832h21.422c1.8398 0 6.4492-0.69141 6.4492-7.832v-5.7578h-5.9883v-16.355h-6.9141 13.824v-16.586h-21.652v-16.582h21.652v-5.5312h-17.969v-25.336h15.434v-16.816h-19.117v-32.477h41.922v-5.5312h-46.531v-6.9102h59.199c2.0742 0 6.6797-0.69141 6.6797-8.293v-10.594h17.738v-7.3711c0-7.1406-4.6094-7.832-6.6797-7.832zm-23.727 64.035h-33.402v-5.9883h33.402zm-92.598-14.512h-42.848v-2.9922h42.848z"
                        />
                    </g>
                    <g transform="translate(571.64,610.78)">
                        <path
                            d="m170-128.53v-5.5312c0-7.3711-0.46094-14.051-1.6133-20.039h9.9062c-0.23047-1.8438-0.69141-3.6836-1.1523-5.5273h-14.742c-1.6133-5.9883-3.918-11.289-7.1406-15.434-0.23047-0.46094-0.46094-0.69141-0.92188-1.1523h17.277c-7.1406-8.9844-18.199-13.59-33.172-13.59h-106.19c-2.0742 0-6.6797 0.69141-6.6797 8.0625v5.5273h-17.047v12.668c0 1.6133 0.23047 2.9961 0.69141 3.918h23.723c1.3828 3.4531 4.3789 3.9141 5.9922 3.9141h100.2c3.2266 0 5.9883 0.69141 8.0625 1.6133h-19.117c1.8398 0.92187 3.2227 1.8438 4.1445 3.457 2.5352 3.4531 3.6836 8.9805 3.6836 16.582 0 2.0742 0 3.6875-0.23047 5.5312h21.656c-0.46094 4.8359-1.6133 8.5195-3.457 11.055-2.3047 3.457-6.4492 5.0664-12.207 5.0664h-100.43c-0.69141 0-1.6094 0-2.5312 0.46094h-14.742c-1.8438 0.69141-3.918 2.7656-3.918 7.3711v19.812h-18.887v5.5273h27.871v42.383h-6.2188v16.586h-26.031v11.516h28.797v0.92188c0 7.1406 4.6055 8.0625 6.6797 8.0625h20.961c2.0703 0 6.4492-0.92188 6.4492-8.0625v-0.92188h-5.5273v-11.516h19.348v-16.586h-10.367v-41.461l78.781-0.23047c3.9141 0 7.3711-0.23047 10.594-0.69141h-16.355c5.7617-1.1523 10.598-2.9961 14.742-5.5273h7.3711c3.457-2.3047 6.2227-5.0703 8.7539-8.293 3.457-5.0703 5.9883-11.52 7.832-18.891h6.6797c0.92188-5.0664 1.8438-10.594 2.0742-16.582zm-94.441-9.9062h-48.605v-5.9883h48.605zm43.074 14.512h-37.086v-4.6055h37.086zm19.809 75.324h-58.738v-4.6094h58.738zm-32.707-17.277h-42.617v-2.9961h42.617z"
                        />
                    </g>
                </g>
                <g fill="#fff">
                    <g transform="translate(148.64,610.78)">
                        <path
                            d="m195.33-162.86 10.137-17.504h-21.422l0.69141-1.1523c0.92188-1.6133 1.1523-3.457 0.46094-5.2969-0.69141-1.8438-2.3047-2.9961-4.1484-2.9961h-25.566c-2.0742 0-4.8398 0.69141-6.6797 4.1445l-2.7656 5.3008h21.191l-9.4453 17.504h-19.809l-9.2148 17.277h9.6758l-0.23047 0.23047h9.9062l-6.6797 12.207h-21.422l-17.047 30.867h-9.9062l-16.812-30.867h21.422l-6.6797-12.207h-9.6758l-0.23047-0.23047h-9.6758l-9.4414-17.277h19.578l-9.4453-17.504h-21.422l-2.7656-5.0703c-1.8398-3.6836-4.6055-4.375-6.6797-4.375h-26.027c-2.0742 0-3.6875 1.1523-4.375 3.2227-0.46094 1.6133-0.23047 3.457 0.6875 5.0703l0.69141 1.1523h21.191l9.9062 17.504h-19.578l9.6719 17.277h9.6758v0.23047h9.9062l6.9102 12.207h-21.422l17.273 30.867h23.727l8.0625 14.051h-23.727l5.7578 10.367h23.957l9.6758 17.734h-18.43l1.1523 1.8438v22.113h11.75v16.355h-20.273v13.59h24.418c0.69141 5.5273 4.6055 6.2188 6.4492 6.2188h21.191c1.6133 0 5.5312-0.69141 6.2188-6.2188h-9.6719c0.23047-0.69141 0.23047-1.1523 0.23047-1.6133v-11.977h5.5273v-16.355h-11.746v-22.113l1.1484-1.8438h18.43l10.137-17.734h-23.957l5.9883-10.367h23.727l8.0625-14.051h-23.957l17.508-30.867h21.422l6.9102-12.207h-9.6758v-0.23047h-9.6758l9.6758-17.277zm-68.18-15.203h-38.238v-4.6055h38.238zm-19.812 27.184h-24.184v-4.6094h24.184zm48.145 99.738h-23.266v-3.6875h23.266zm-78.32-14.512h-24.645v-5.2969h24.645z"
                        />
                    </g>
                    <g transform="translate(371.83,610.78)">
                        <path
                            d="m185.43-189.8h-152.49c-2.0703 0-6.6797 0.69141-6.6797 7.832v7.3711h-17.734v10.594c0 7.6016 4.6055 8.293 6.6797 8.293h59.199v6.9102h25.105v5.5312h-20.73v32.477h13.359v16.816h-9.6719v25.336h9.6719v5.5312h-13.359v16.582h13.359v16.586h-12.668v16.355h20.039v5.7578c0 7.1406 4.6094 7.832 6.4531 7.832h21.422c1.8398 0 6.4492-0.69141 6.4492-7.832v-5.7578h-5.9883v-16.355h-6.9141 13.824v-16.586h-21.652v-16.582h21.652v-5.5312h-17.969v-25.336h15.434v-16.816h-19.117v-32.477h41.922v-5.5312h-46.531v-6.9102h59.199c2.0742 0 6.6797-0.69141 6.6797-8.293v-10.594h17.738v-7.3711c0-7.1406-4.6094-7.832-6.6797-7.832zm-23.727 64.035h-33.402v-5.9883h33.402zm-92.598-14.512h-42.848v-2.9922h42.848z"
                        />
                    </g>
                    <g transform="translate(586.04,610.78)">
                        <path
                            d="m170-128.53v-5.5312c0-7.3711-0.46094-14.051-1.6133-20.039h9.9062c-0.23047-1.8438-0.69141-3.6836-1.1523-5.5273h-14.742c-1.6133-5.9883-3.918-11.289-7.1406-15.434-0.23047-0.46094-0.46094-0.69141-0.92188-1.1523h17.277c-7.1406-8.9844-18.199-13.59-33.172-13.59h-106.19c-2.0742 0-6.6797 0.69141-6.6797 8.0625v5.5273h-17.047v12.668c0 1.6133 0.23047 2.9961 0.69141 3.918h23.723c1.3828 3.4531 4.3789 3.9141 5.9922 3.9141h100.2c3.2266 0 5.9883 0.69141 8.0625 1.6133h-19.117c1.8398 0.92187 3.2227 1.8438 4.1445 3.457 2.5352 3.4531 3.6836 8.9805 3.6836 16.582 0 2.0742 0 3.6875-0.23047 5.5312h21.656c-0.46094 4.8359-1.6133 8.5195-3.457 11.055-2.3047 3.457-6.4492 5.0664-12.207 5.0664h-100.43c-0.69141 0-1.6094 0-2.5312 0.46094h-14.742c-1.8438 0.69141-3.918 2.7656-3.918 7.3711v19.812h-18.887v5.5273h27.871v42.383h-6.2188v16.586h-26.031v11.516h28.797v0.92188c0 7.1406 4.6055 8.0625 6.6797 8.0625h20.961c2.0703 0 6.4492-0.92188 6.4492-8.0625v-0.92188h-5.5273v-11.516h19.348v-16.586h-10.367v-41.461l78.781-0.23047c3.9141 0 7.3711-0.23047 10.594-0.69141h-16.355c5.7617-1.1523 10.598-2.9961 14.742-5.5273h7.3711c3.457-2.3047 6.2227-5.0703 8.7539-8.293 3.457-5.0703 5.9883-11.52 7.832-18.891h6.6797c0.92188-5.0664 1.8438-10.594 2.0742-16.582zm-94.441-9.9062h-48.605v-5.9883h48.605zm43.074 14.512h-37.086v-4.6055h37.086zm19.809 75.324h-58.738v-4.6094h58.738zm-32.707-17.277h-42.617v-2.9961h42.617z"
                        />
                    </g>
                </g>
            </g>
        </svg>
    </div>
</template>

<script>
export default {
    name: "Logo",
};
</script>