<template>
  <div style="height: 100%; width: 100%;">
    <!--      width="100%"
      height="100%"-->
    <svg
      class="logo-svg"
      width="100%"
      height="100%"
      fill="white"
      viewBox="1500 3000 10000 6000"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xml:space="preserve"
      xmlns:serif="http://www.serif.com/"
      style="
        fill-rule: evenodd;
        clip-rule: evenodd;
        stroke-linejoin: round;
        stroke-miterlimit: 2;
        width: 100%;
        height: 100%;
      "
    >
      <g>
        <path class="logocolor"
          d="M3897.59,7686.83C4103.73,7762.1 5002.57,8227.1 6314.73,8211.55C8121.02,8190.14 9258.69,7430.82 10358.8,7409.22C10647.5,7403.55 10921.8,7470.3 10919.2,7512.9C10917.7,7538.92 10806.8,7463.02 10371.8,7463.98C9702.22,7465.46 8258.22,8232.02 7210.15,8340.53C5762.18,8490.43 4730.61,8306.72 3836.05,7840.56C3789.15,7816.12 3838.86,7665.38 3897.59,7686.83L3897.59,7686.83Z"
        />
        <path class="logocolor"
          d="M7509.83,6477.87C7602.07,6503.37 7698.7,6299.74 7568.4,6250.22C6643.99,5898.95 6685.93,5077.67 6970.93,4489.98C7250.71,3913.04 7997.05,4149.37 7973.21,4761.65C7949.37,5373.94 7418.06,5594.04 7246.73,5659.17C7159.55,5692.32 7301.53,5921.31 7414.98,5876.61C7917.53,5678.63 8227.22,5302.15 8233.05,4631.82C8238.66,3986.07 7273.64,3481.55 6779.41,4385.31C6340.94,5187.1 6500.52,6198.82 7509.83,6477.88L7509.83,6477.87Z"
        />
        <path 
          d="M6278.88,5387.86C6246.2,5347.73 5727.13,5087.36 5479.03,4919.87C5230.93,4752.39 4369.06,4356.07 3870.47,4485.32C2820.69,4757.46 3402.11,6605.51 3470.05,6983.89C3705.41,8294.62 2180.34,7882.65 2102.98,7334.19C2038.39,6876.32 3030.63,7375.53 3145.73,7477.67C3181.23,7509.17 3260.3,7380.1 3230,7334.19C3115.88,7161.27 1793.94,6589.01 1853.91,7269.82C1901.75,7812.88 2557.87,8063.79 2877.28,8071.98C3434.62,8086.27 3782.65,7660.44 3694.81,6991.41C3635.18,6537.27 3269.01,4912.45 3901.56,4732.73C4290.6,4622.19 5075.98,4964.43 5279.63,5068.31C5483.28,5172.18 6173.53,5590.63 6254.7,5564.44C6335.87,5538.25 6325.18,5444.71 6278.89,5387.86L6278.88,5387.86Z"
        />
        <path
          d="M4466.09,7227.92C4399.7,7209.84 4412.06,7124.77 4412.06,7124.77C4412.06,7124.77 4387.43,7082.61 4670.5,7008.78C4953.57,6934.96 6003.42,6942.25 6407.98,6993.4C6812.54,7044.54 7585.44,7150.8 7913.46,7155.78C8217.71,7160.4 8528.28,7131.58 8974.14,7002.56C9079.75,6971.99 8911.49,6806.31 8586.77,6584.59C8416.67,6468.45 8084.48,6128.64 7933.32,5994.55C7842.14,5913.66 7944.66,5750.72 8106.89,5844.78C8178.65,5886.38 8533.04,6280.69 8848.45,6516.7C9169.56,6756.97 9263,6880.83 9256.22,7037.24C9250.27,7174.71 9028.02,7231.77 8563.38,7296.27C8067.24,7365.14 7967.74,7322.32 7685.33,7306.18C7402.92,7290.05 6734.26,7247.13 6288.02,7163.78C5841.78,7080.43 4532.49,7246 4466.1,7227.92L4466.09,7227.92Z"
        />
        <ellipse cx="8157.78" cy="6658.89" rx="162.514" ry="118.048" />
      </g>
    </svg>
  </div>
</template>

<script>
export default {
  name: 'serveri',
}
</script>

<style lang="scss" scoped>
    .logo-svg:hover {
      //height: 5rem;
      fill: #0f5a62;
    }
</style>
