<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <!-- <iframe id="CalendarFrame" src="html/calendar.html" frameBorder="0"></iframe> -->
    <div id="CalendarFrame">
        <!--<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">-->
        <!--<link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">-->
        <div id="app">
            <v-app>
                <v-main>
                    <template>
                        <v-row>
                            <v-col>
                                <v-sheet>
                                    <v-calendar ref="calendar" :now="curday" :events="events"
                                        :interval-height="intervalheight" color="primary" event-color="#f30202"
                                        event-text-color="#ffffff" :event-ripple="rippleopts" type="4day"
                                        start="2022-10-18" @click:event="showEvent">
                                        <template v-slot:day-body="{ date, week }">
                                            <div class="v-current-time" :class="{ first: date === week[0].date }"
                                                :style="{ top: nowY }"></div>
                                        </template>
                                    </v-calendar>
                                </v-sheet>
                            </v-col>
                        </v-row>
                    </template>
                    <div v-if="popupvisible === 'true'" id="eventpopup" @click.self="popupvisible = 'false'">
                        <div class="eventdetails">
                            <div @click="popupvisible = 'false'" id="closediv">
                                <p id="closelabel">close <span id="close">✖</span></p>
                            </div>
                            <h2>{{ popupdetails.name }}</h2>
                            <div v-html="popupdetails.desc"></div>
                        </div>
                    </div>
                </v-main>
            </v-app>
        </div>
        <style>
            body {
                height: 100vh;
                width: 100vw;
                overflow: hidden;
            }

            .v-current-time {
                height: 3px;
                background-color: #09a500;
                position: absolute;
                left: 0px;
                right: 0;
                pointer-events: none;
            }
            /* .v-current-time.first::before {
                content: '';
                position: absolute;
                background-color: #09a500;

                margin-top: -5px;
                margin-left: -6.5px;
                width: 12px;
                height: 12px;
                transform: rotate(-45deg);
            } */


            #CalendarFrame {
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                overflow-x: hidden;
            }

            .v-btn--fab.v-size--default {
                height: 2rem;
            }

            .v-btn--round {
                border-radius: 1rem;
            }

            .disableripple {
                display: none;
            }

            #eventpopup {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                background-color: #c4c4c46e;
                display: grid;
                align-items: center;
            }

            .eventdetails>h1,
            .eventdetails>h2,
            .eventdetails>h3,
            .eventdetails>h4,
            .eventdetails>h5,
            .eventdetails>h6,
            .eventdetails>p,
            .eventdetails>span,
            .eventdetails>li {
                color: black;
            }

            .eventdetails {
                background-color: #f6f5f4;
                margin: 1rem;
                padding: 1rem;
                border-radius: 1rem;
            }

            #close {
                font-size: 2rem;
                
            }
            #closelabel {
                text-justify: center;
            }
            #closediv {
                width: 100%;
                height: 1rem;
                line-height: 1;
                display: grid;
                justify-items: end;
            }
        </style>
        <!--Dev and prod versions separately-->
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <script>
            new Vue({
                data: () => ({
                    today: "2022-08-16",
                    calshow: "2022-10-19",
                    calstart: "2022-10-17",
                    popupvisible: "false",
                    intervalheight: 48,
                    calend: "2022-10-23",
                    popupdetails: {
                        name: "defaultname",
                        desc: "defaultdescription",
                        start: "defaultstarttime",
                        end: "defaultendtime",
                        location: "defaultlocation",
                    },
                    events: [
                    ],
                    rippleopts: {
                        center: false,
                        class: "disableripple"
                    },
                }),
                computed: {
                    curday() {
                        var today = new Date();
                        var date = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();
                        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                        var dateTime = date + ' ' + time;
                        // console.log(dateTime)
                        return dateTime
                    },
                    cal() {
                        return this.ready ? this.$refs.calendar : null
                    },
                    nowY() {
                        var today = new Date();
                        var time = today.getHours()
                        var minutes = today.getMinutes()
                        let offset = (minutes / 60) * this.intervalheight
                        // console.log("offset " + offset)
                        // console.log(time * 48)
                        return (time * this.intervalheight) + offset + 'px'
                    }
                },
                async created() {
                    // let cont;
                    // fetch("https://cloud.serveriry.fi/remote.php/dav/public-calendars/meeQZgXzw8oZJd5R?export&accept=jcal")
                    //     .then((response) => response.json())
                    //     .then(data => (cont = data))
                    const response = await fetch("https://cloud.serveriry.fi/remote.php/dav/public-calendars/meeQZgXzw8oZJd5R?export&accept=jcal");
                    const cont = await response.json();
                    let icaleventarr = cont[2]
                    // console.log(cont)
                    for (let i = 0; i < icaleventarr.length; i++) {
                        let sigleevent = icaleventarr[i]
                        for (let j = 0; j < sigleevent.length; j++) {

                            // console.log(sigleevent[j])
                            // loop individual vevents
                            if (sigleevent[j] != "vevent" && sigleevent[j].length != 0 && sigleevent[j] != "vtimezone") {
                                let eventdet = sigleevent[j]
                                let eventtemp = {
                                    name: "",
                                    desc: "",
                                    start: "",
                                    end: "",
                                    location: "",
                                }
                                let parsed
                                for (let k = 0; k < eventdet.length; k++) {
                                    let singledetail = eventdet[k]
                                    switch (singledetail[0]) {
                                        // case "tzid" || "daylight":

                                        //     break;

                                        case "summary":
                                            eventtemp.name = singledetail[3]
                                            break;

                                        case "description":
                                            eventtemp.desc = marked.parse(singledetail[3])
                                            break;

                                        case "dtstart":
                                            // parsed = Date.parse(singledetail[3])
                                            // console.log("start " + parsed + " " + singledetail[3])
                                            // var date = parsed.getFullYear()+'-'+(parsed.getMonth()+1)+'-'+parsed.getDate();
                                            // var time = parsed.getHours() + ":" + parsed.getMinutes() + ":" + parsed.getSeconds();
                                            // var dateTime = date+' '+time
                                            // console.log("start " + dateTime)
                                            eventtemp.start = singledetail[3].replace("T", " ")
                                            break;

                                        case "dtend":
                                            // parsed = Date.parse(singledetail[3].replace("T", " "))
                                            // console.log("end " + parsed)
                                            // var date = parsed.getFullYear()+'-'+(parsed.getMonth()+1)+'-'+parsed.getDate();
                                            // var time = parsed.getHours() + ":" + parsed.getMinutes() + ":" + parsed.getSeconds();
                                            // var dateTime = date+' '+time
                                            // console.log("end " + dateTime)
                                            eventtemp.end = singledetail[3].replace("T", " ")
                                            break;

                                        case "location":
                                            eventtemp.location = singledetail[3]
                                            break;
                                    }
                                }
                                if (eventtemp.start != "") {
                                    this.events.push(eventtemp)
                                }

                            }

                        }
                    }
                },
                methods: {
                    showEvent({ nativeEvent, event }) {
                        //alert("hello")
                        this.popupvisible = "true"
                        this.popupdetails.name = event.name
                        this.popupdetails.desc = event.desc
                        // console.log(event.name)
                        // const open = () => {
                        // this.selectedEvent = event
                        // this.selectedElement = nativeEvent.target
                        // requestAnimationFrame(() => requestAnimationFrame(() => this.selectedOpen = true))
                        // }

                        // if (this.selectedOpen) {
                        // this.selectedOpen = false
                        // requestAnimationFrame(() => requestAnimationFrame(() => open()))
                        // } else {
                        // open()
                        // }

                        // nativeEvent.stopPropagation()
                    },
                },
                el: '#app',
                vuetify: new Vuetify({

                }),
            })

        </script>
    </div>

</body>

</html>