<template>
    <div class="framewrap">
        <iframe
            src="/fixedpage/calendar.html"
            frameborder="0"
            id="calframe"
        ></iframe>
    </div>
</template>
<script>
export default {
    data: () => ({
    }),
    mounted() {
        // console.log(
        //     document.getElementById("calframe").contentWindow.document.body
        //         .scrollHeight + "px"
        // );
        // this.iframeheight = document.getElementById("calframe").contentWindow.document.body.scrollHeight + "px"
    },
};
</script>
<style lang="scss">
#calframe {
    // border-radius: 1rem;
    min-height: 78rem;
    height: 100%;
    width: 100%;
    min-width: 30rem;
    filter: invert(1);
}
.framewrap {
    width: 60vw;
    overflow-x: auto;
}
@media only screen and (max-width: 1040px) {
    .framewrap {
        width: 99vw;
    }
}
@media only screen and (max-width: 600px) {
    .framewrap {
        width: 100vw;
    }
    .right {
        margin-left: 0rem;
        margin-right: 0rem;
    }
}
</style>