<template>
  <div>
    <video preload="auto" autoplay loop muted>
      <source src="../assets/images/kolomia-miäs.webm" type="video/webm" />
    </video>
    <div class="video-overlay" style="background-color: rgba(0, 0, 0, 0.2)"></div>
  </div>
</template>

