<template>
  <div class="navwrap">
    <nav>
      <NuxtLink to="/"
        ><div><p class="link">Esc</p></div></NuxtLink
      >
      <NuxtLink to="/event"
        ><div><p class="link">Event</p></div></NuxtLink
      >
      <NuxtLink to="/calendar"
        ><div><p class="link">Calendar</p></div></NuxtLink
      >
      <NuxtLink to="/map"
        ><div><p class="link">Map</p></div></NuxtLink
      >
      <NuxtLink to="/safespace"
        ><div><p class="link">Safe space</p></div></NuxtLink
      >
      <NuxtLink to="/help"
        ><div><p class="link">Help</p></div></NuxtLink
      >
    </nav>
  </div>
</template>

<style lang="scss" scoped>
nav {
  display: flex;
  flex-wrap: wrap;
  p,
  a {
    color: white;
    font-family: serif;
    text-decoration: none;
  }

  div {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    //background-color: rgb(29, 29, 29);
    //border: 2px solid #ebdc12;
    //border-radius: 3px;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.8),
      3px 3px 0px 3px rgba(255, 0, 255, 0.8),
      -3px -3px 0px 3px rgba(0, 255, 255, 0.8);
    transition: all 0.5s ease;
  }

  div:hover {
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.8),
      0px 0px 0px 3px rgba(255, 0, 255, 0.8),
      0px 0px 0px 3px rgba(0, 255, 255, 0.8);
  }

  .link {
    margin-right: 1rem;
    font-size: 1.3rem;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1040px) {
  .navwrap {
    display: grid;
    justify-items: center;

    nav {
      justify-content: space-around;
      gap: 0.2rem;

      a {
        margin: 0.3rem;
      }

      div {
        margin-left: 2vw;
        margin-right: 2vw;
        padding-left: 0.8rem;
        padding-right: 0.8rem;
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
      }
    }

    .link {
      margin-right: 1.3rem;
      font-size: 1.1rem;
      margin: 0 auto;
    }
  }
}
</style>