<template>
    <div id="gridwrap" :style="{'perspective-origin': scrollcenter}">
        <div class="grid"></div>
    </div>
</template>
<script>
// if (process.browser) {
//   require('aframe')
// }
export default {
    data: () => ({
        scrollcenter: "",
    }),
    created() {
        window.addEventListener("scroll", this.handleScroll);
    },
    mounted() {
        // Set initial value for scroll position after component has been mounted
        this.handleScroll();
    },
    destroyed() {
        window.removeEventListener("scroll", this.handleScroll);
    },
    methods: {
        handleScroll() {
            let scroll = window.top.scrollY;
            // console.log("window "+window.top.scrollY)
            // console.log("top "+e.target.documentElement.scrollTop)
            let heigth = window.innerHeight / 2;
            // console.log(scroll + heigth, heigth);
            let center = scroll + heigth;
            this.scrollcenter = "50% " + center + "px";
            //console.log("50% " + center + "px")
            // document.getElementById("gridwrap").style.perspectiveOrigin =
            //     "50% " + center + "px";
        },
    },
};
</script>
<style scoped>
body {
    background-color: #060808;
}
#gridwrap {
    position: relative;
    /* position: fixed; */
    perspective: 10em;
    perspective-origin: 50% 50%;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
}
.grid {
    height: 100%;
    width: 8em;
    background-image: linear-gradient(#f65aff 1px, transparent 1px),
        linear-gradient(to right, #f65aff 1px, #06080800 1px);
    background-size: 20px 20px;

    border: 3px solid #f65aff;
    animation-name: scroller;
    animation-duration: 20s;
    transform-origin: center left;
    transform: scale(2) rotateY(45deg);
    overflow: hidden;
}

/* @keyframes scroller {
        0% {
            transform: translate3d(0, -100em, 0) rotateY(45deg);
        }
        100% {
            transform: translate3d(0, -5em, 0) rotateY(45deg);
        }
    } */

/* @media only screen and (max-width: 1040px) {
    #gridwrap {
    position: relative;
     position: fixed; 
    perspective: 10em;
    perspective-origin: 50% 50%;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    overflow: hidden;
}
    .grid {
         width: 10em;
        height: 200%;
        position: sticky;
        overflow:auto; 
    }
} */
</style>