<template>
  <div class="logoimggrid">
    <div v-for="sponsor in sponsors" :key="sponsor.alt">
      <a v-if="sponsor.url" target="_blank" :href="sponsor.url">
        <div class="imgwrap" :class="sponsor.class">
          <img
            v-if="sponsor.logoname"
            :src="'/logos/' + sponsor.logoname"
            :alt="sponsor.alt"
            class="logoimg"
          />
        </div>
      </a>
      <div v-else>
        <div class="imgwrap" :class="sponsor.class">
          <img
            v-if="sponsor.logoname"
            :src="'/logos/' + sponsor.logoname"
            :alt="sponsor.alt"
            class="logoimg"
          />
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  //   async created() {
  //     // GET request using fetch with async/await
  //     const response = await fetch("/logos/logolist.json");
  //     const data = await response.json();
  //     this.sponsors = data;
  //     console.log(data);
  //   },
  data() {
    return {
      sponsors: [
        {
          alt: "Efecte Oyj",
          url: "https://www.efecte.com/",
          logoname: "efecte-neg.svg",
          class: "big",
        },
        {
          alt: "Innofactor Oyj",
          url: "",
          logoname: "innofactor.svg",
          class: "big",
        },
        {
          alt: "TEK ry",
          url: "",
          logoname: "tek.svg",
        },
        {
          alt: "TIVIA ry",
          url: "",
          logoname: "tivia.svg",
        },
        {
          alt: "Talentree Oy",
          url: "",
          logoname: "talentree.svg",
        },
        {
          alt: "Huld Oy",
          url: "",
          logoname: "huld.svg",
        },
        {
          alt: "Ikius Oy",
          url: "",
          logoname: "ikius.svg",
        },
        {
          alt: "Adamant Health Oy",
          url: "",
          logoname: "adamanthealth.svg",
        },
      ],
    };
  },
};
</script>
<style lang="scss" scoped>
.logoimggrid {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: flex-start;

  .imgwrap {
    padding: 2rem;
    max-width: 14rem;
  }
  .big {
    max-width: 28rem;
  }
  .logoimg {
    width: 100%;
  }
}

@media only screen and (max-width: 1040px) {
  .logoimggrid {
    justify-content: center;
  }
}
// .logoimggrid {
//   display: grid;
//   gap: 2rem;
//   grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
//   align-items: center;
//   .big {
//     grid-column: span 2 / auto;
//   }
//   .imgwrap {
//     padding: 2rem;

//     .logoimg {
//       width: 100%;
//       height: 100%;
//     }
//   }
// }
</style>