<template>
  <div class="thanks">
    <h1>&#128156; Kiitos! &#128156;</h1>
    <p>
      Olipa mukavoo, kun Asteriski, Blanko, Dumppi, Linkki, Luuppi, Man@ger, Skripti, TKO-äly & muut ainejärjestöt
      tulitte meidän kanssa yhteistoimimaan!
    </p>
    <p>
      Kiitos myös yhteistyökumppanit TIVIA ry, Efecte Oyj, Adamant Health Oy, Benjamin Särkkä, TEK ry, Ikius Oy,
      Innofactor Oyj, Talentree Oy, Huld Oy
    </p>
    <p>Serveri ry ja Kuopio kiittää ja nähdään taas ensi vuonna! 👋</p>
    <div class="video-grid-container">
      <Kolomio-miäs />
      <Kolomio-miäs />
      <Kolomio-miäs />
      <Kolomio-miäs />
      <Kolomio-miäs />
    </div>
  </div>
</template>

<style>
.thanks p {
  font-size: 1.5rem;
}

.thanks video {
  width: 128px;
}

.video-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
}
</style>

