<template>
  <div class="timetable-grid-container">
    <div class="timetable-grid-item">
      <h3>Keskiviikko</h3>
      <table>
        <tbody>
          <template v-for="event in events.wednesday" :key="event.name">
            <tr>
              <td>{{ event.starts }}</td>
              <td>{{ event.name }}</td>
            </tr>
          </template>
        </tbody>
      </table>
    </div>
    <div class="timetable-grid-item">
      <h3>Torstai</h3>
      <tbody>
        <template v-for="event in events.thursday" :key="event.name">
          <tr>
            <td>{{ event.starts }}</td>
            <td>{{ event.name }}</td>
          </tr>
        </template>
      </tbody>
    </div>
    <div class="timetable-friday">
      <p>
        Perjantaina majoitus sulkeutuu <strong>klo 11:00</strong> ja serveriläiset toivottavat kaikille tuoreille
        hyvinvoinnin maistereille™ rentouttavaa kotimatkaa! 👋
      </p>
    </div>
  </div>
</template>

<script>
import eventsJson from '../data/events.json';

// TODO: fetch and update data straight from calendar
// For now data is read from static json
export default {
  data() {
    return eventsJson;
  },
};
</script>

<style lang="scss">
.timetable-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem 4rem;
  justify-items: center;
  margin: 3.5rem 0;
}

.timetable-grid-item {
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.8), 6px 6px 0px 6px rgba(255, 0, 255, 0.8),
    -6px -6px 0px 6px rgba(0, 255, 255, 0.8);
  padding: 1rem 4rem;
  width: 75%;
}

.timetable-grid-container h3 {
  margin: 0.25rem auto 1rem;
  letter-spacing: 0.2rem;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid #00ffff;
  width: fit-content;
}

.timetable-grid-container table,
td {
  border: none;
}

// TODO: Somehow distinct accomodations, lectures and parties with styles maybe?
// .cell-accommodation {
//   color: red;
// }

.timetable-friday {
  grid-column: 1 / span 2;
  text-align: center;
}

.timetable-friday p {
  margin: 2rem 5rem 0;
}

/* base page size this component is designed around is 1920x1080 */

/* slightly narrower big screens */
@media only screen and (max-width: 1600px) {
  .timetable-grid-item {
    padding: 1rem 3rem;
  }
}

/* most laptop screens */
@media only screen and (max-width: 1040px) {
  .timetable-grid-container {
    margin: 3.5rem 1rem;
  }

  .timetable-grid-item {
    width: 66.6%;
  }

  .timetable-friday {
    grid-column: 1 / span 2;
  }
}

/* default iPad screens */
@media only screen and (max-width: 768px) {
  .timetable-grid-container {
    grid-template-columns: 1fr;
    grid-gap: 4rem;
  }

  .timetable-grid-item {
    padding: 1rem;
    width: 80%;
  }

  .timetable-friday {
    grid-column: 1;
    width: 80%;
  }

  .timetable-friday p {
    margin: 0;
  }
}

/* mobile browsers smaller than 480px; (iPhone) */
@media only screen and (max-width: 480px) {
}
</style>

<timetable-grid-element-elementSimplified />
<hr />
