<template>
    <div>
        <NuxtLayout>
            <NuxtPage />
        </NuxtLayout>
    </div>
</template>
<style lang="scss">
  * {
    margin: 0;
    padding: 0;
  }
</style>
<script setup>
useHead({
    titleTemplate: (titleChunk) => {
        return titleChunk ? `${titleChunk} - ATK-YTP` : "ATK-YTP";
    },
    meta: [{
        name: 'viewport',
        content: 'width=device-width, initial-scale=1, maximum-scale=1'
    },
    {
        name: 'charset',
        content: 'utf-8'
    },
    {
        name: 'description',
        content: 'ATK-YTP järjestetään Kuopiossa 19.10.-21.10.2022. Luvassa huikeita luentoja sekä ikimuistoisia rastikierroksia!'
    },
    {
        name: 'language',
        content: 'FI'
    },
    {
        name: 'apple-mobile-web-app-title',
        content: 'ATK-YTP 2022'
    },
    {
        name: 'application-name',
        content: 'ATK-YTP 2022'
    },
    {
        name: 'msapplication-TileColor',
        content: '#00aba9'
    },
    {
        name: 'theme-color',
        content: '#ffffff'
    }
    ],
    link: [{
        rel: 'apple-touch-icon',
        sizes: '180x180',
        href: '/apple-touch-icon.png'
    },
    {
        rel: 'icon',
        type: 'image/png',
        sizes: '32x32',
        href: '/favicon-32x32.png'
    },
    {
        rel: 'icon',
        type: 'image/png',
        sizes: '16x16',
        href: '/favicon-16x16.png'
    },
    {
        rel: 'manifest',
        href: '/site.webmanifest'
    },
    {
        rel: 'mask-icon',
        href: '/safari-pinned-tab.svg',
        color: '#5bbad5'
    },
    ]
// title: 'ATK-YTP 2022',
  // meta: [
  //   { charset: 'utf-8' },
  //   { name: 'viewport', content: 'width=device-width, initial-scale=1' },
  //   {
  //     hid: 'description',
  //     name: 'description',
  //     content: 'ATK-YTP järjestetään Kuopiossa 19.10.-21.10.2022. Luvassa huikeita luentoja sekä ikimuistoisia rastikierroksia!'
  //   }
  // ],
});
</script>
