.v-current-time {
    height: 3px;
    background-color: #613583;
    position: absolute;
    left: 0px;
    right: 0;
    pointer-events: none;

    //&.first::before {
    //    content: '';
    //    position: absolute;
    //    background-color: #613583;
    //    width: 12px;
    //    height: 12px;
    //    border-radius: 50%;
    //    margin-top: -5px;
    //    margin-left: -6.5px;
    //}
}
    
#CalendarFrame {
    width: 100%;
    height: 70vh;
    border-radius: $border-radius;
    overflow-y: scroll;
    overflow-x: hidden;
}

.v-btn--fab.v-size--default {
    height: 2rem;
}

.v-btn--round {
    border-radius: 1rem;
}

.disableripple {
    display: none;
}


    
#eventpopup {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.432);
    display: grid;
    align-items: center;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    span,
    li {
        color: black;
    }

    .eventdetails {
        background-color: #f6f5f4;
        margin: 1rem;
        padding: 1rem;
        border-radius: $border-radius;
    }
}
