

@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/dm-sans-700.woff2);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li {
    color: #f6f5f4;
    font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

a,
.link {
    color: #00ffff;
    //text-decoration: none;
    //font-family: serif;
}

a:hover {
    color: #beb41d;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0.8rem;
    margin-top: 2rem;
    font-weight: bold;
    word-break: break-word;
}

h2 {
    font-size: 2.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-weight: lighter;
    word-break: break-word;
}
h3 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}
h4 {
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
}
p {
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
    font-weight: 400;
}

ol {
    padding-left: 2rem;
}

.italic {
    font-style: italic;
}

@media only screen and (max-width: 1040px) {
    h1 {
        font-size: 3rem;
    }
}

// @media only screen and (max-width: 500px) {
//     h1 {
//         font-size: 3rem;
//     }
// }