#header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: $side-margin-desktop;
    margin-right: $side-margin-desktop;
    #langswitcher {
        list-style: none;
        justify-self: right;
    }
}