.center {
  text-align: center;
}

#clock {
  font-size: 10rem;
  margin: 0;
}

#date {
  font-size: 2rem;
  margin: 0;
}

.infoscreen-grid-container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

.header-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin-top: 2.5rem;
}

.logo-header {
  height: 10rem;
  text-align: center;
}

.schedule-grid-wrapper {
  text-align: center;
  margin: 4rem 2rem 8rem 8rem;
}
.schedule-grid {
  display: grid;
  text-align: left;
  grid-template-columns: 1fr 1fr;
}

.schedule-header {
  font-size: 5rem;
  font-weight: bold;
}

.schedule-info {
  font-size: 3rem;
}

#serveri-logo {
  height: 13rem;
}

.visual-element {
  grid-row: 1 / span 2;
  overflow: hidden;
}

.visual-element img {
  min-width: 100%;
  height: 100vh;
  margin-left: -100px;
}

#logo-text-serveri {
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
}

#logo-text-atkytp {
  text-align: center;
  font-size: 2rem;
  margin-left: 3rem;
  margin-top: 0;
}

#visual-element-right {
  grid-column: 3;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

