$side-margin-desktop: 10vw;
$background-color: #060808;
$side-margin-mobile:2vw;
$border-radius: 1rem;

body {
    // background:
    //     rgba($color: #060808, $alpha: 1)
    //     url("/assets/images/background.svg");
    // background-repeat: repeat;
    // background-blend-mode: color-dodge;
    background-color: $background-color;
}

.page-content {
    margin-left: $side-margin-desktop;
    margin-right: $side-margin-desktop;
}

hr {
    color: #00ffff;
    border-color: #00ffff;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.text-spacing {
    margin-top: 10vh;
    p {
        font-size: 1.1rem;
        margin-top: 2rem;
    }
}

table, td {
    border: 1px solid rgba(255, 255, 255, 0.555);
    color: white;
    border-collapse: collapse;
    font-family: sans-serif;
}

td {
    padding: 0.5rem;
}


button {
    background-color: #ce02ce2a;
    color: white;
    padding: 1rem;
    border: 4px solid #cd02ce;
    transition: 1s;
    font-size: 1.2rem;
}
button:hover {
    background-color: #850085;
    color: white;
    padding: 1rem;
    border: 4px solid #cd02ce;
}



@media only screen and (max-width: 1040px) {
    .page-margin {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media only screen and (max-width: 600px) {
    .page-margin {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .page-content {
        margin-left: $side-margin-mobile;
        margin-right: $side-margin-mobile;
    }
}

@import 'header.scss';
@import 'fonts.scss';
@import 'calendar.scss';