<template>
  <div class="calendar-spacing">
    <div class="page-margin">
      <h1>Kalenteri</h1>
      <p>
        Kalenteri tulee päivittymään, mutta tänne ei tarvitse jaksaa palata,
        voit seurata muutoksia lisäämällä
        <a
          href="https://cloud.serveriry.fi/remote.php/dav/public-calendars/meeQZgXzw8oZJd5R?export"
          >tämän</a
        >
        linkin sähköiseen kalenteriisi.
      </p>
      <p>
        <a href="/fixedpage/calendar.html">Avaa kokonäytöllä</a>
      </p>
    </div>
    <calendarComponent />
  </div>
</template>

<script>
import calendarComponent from "@/components/calendarComponent.vue";

export default {
  name: "expindex",
  head() {
    return {
      meta: [],
    };
  },
  layout() {
    return "none";
  },
  components: {
    calendarComponent,
  },
};
</script>

<style lang="scss" scoped>
.calendar-spacing {
  margin-top: 5rem;
}
</style>