<template>
  <div class="text-spacing page-margin">
    <h1>Tapahtuma</h1>
    <h2>Majoitus</h2>
    <p>
      Muiden kaupunkien immeiset majoitetaan Kuopio-hallin vieressä sijaitseviin
      Hatsalan, sekä Klassikan kouluille Opistotien varressa. Majoituksessa
      oleillessa pidä huoli, että muut saavat nukkumarauhan, sekä pidetään
      paikat puhtaina, jotta tila säilyy viihtyisänä!
    </p>
    <p>
      Majoitus avataan keskiviikkoaamuna heti 8.00 ja se sulkeutuu 10.00.
      Iltaisin majoitukset aukeavat klo 21.00 alkaen. Torstaina majoitus
      suljetaan klo 11.00 ja se avataan uudestaan 21.00. Perjantaina on aika
      lyödä kimpsut ja kampsut läjään ja poistua kotia kohti, viimeistään klo
      11.00.
    </p>
    <p>
      Matkatavaroita voi ottaa matkaan oman maun mukaan, mutta vahvasti
      suosittelemme nappamaan kotoa matkaan nukkumatarvikkeet, joilla voi nukkua
      vähän kovemmallakin lattialla, pyyhkeen ja lämpimästi päälle!
    </p>
    <p>
      Majoituksissa huoneita on runsaasti, ja ne ovat jaettu ainejärjestöittäin.
      Tilat lukitaan aina päivän ajaksi, joten sinne voi jättää henkilökohtaisia
      tavaroita talteen, joita kokee ettei tarvitse päivän aikana.
    </p>

    <hr />
    <h2>Liikkuminen</h2>
    <p>
      Vaikka lonkkavolvo on aina vaihtoehto, niin välillä on kätevämpi hyödyntää
      kaupunkimme muita liikkumistapoja, kuten kaupunkipyöriä (Freebike),
      paikallisliikenteen bussit. Paikallisliikenteessä, joka tunnetaan nimellä
      Vilkku Kuopio, voi maksaa myös toisen kaupungin Waltti matkakortilla tai
      <a href="https://vilkku.kuopio.fi/mobiililippu">Vilkku- sovelluksella</a>.
      Reittiopas (<a
        rel="noreferrer"
        target="_blank"
        href="https://mobilesyrup.com/2020/05/24/how-install-progressive-web-app-pwa-android-ios-pc-mac/"
        >PWA</a
      >) paikallisliikenteeseen löytyy
      <a href="https://kuopio.digitransit.fi/">täältä</a> mutta sama löytyy myös
      upotuksena sovelluksesta.
    </p>
    <p>Sähköpotkulautoja Kuopiossa vuokraa Bird ja TIER.</p>
    <p>
      Jos halajaa juusto katolla matkustaa niin kaupungista löytyy hyvä läjä
      taksejakin joka lähtöön <a href="https://www.vievie.fi/">VieVie</a>/
      <a rel="“noreferrer”" target="_blank" href="https://taksi1.fi/"
        >Taksiykköset</a
      >/
      <a rel="“noreferrer”" target="_blank" href="https://meneva.fi/fi"
        >Menevä</a
      >.
    </p>

    <hr />

    <h2>Luvassa olevaa meininkiä</h2>
    <h3>Muailmannavan Maratooni</h3>
    <p>
      Kunhan ensimmäisen päivän luennoilla on ensin tankattu pää täyteen
      (informaatiota) niin mitteepä muutakaan sitä tekisi, kun lähtisi tuttuun
      tapaan kiertämään rastikierrosta. Muailmannavan Maratoonissa pääsette
      tutustumaan Kuopion keskustaan ja sitä ympäröiviin alueisiin meidän
      paikallisten opiskelijoiden pitämien rastien johdolla. Kasaa max. 8 hengen
      joukkue ja testatkaa fyysistä kestävyyttänne. Onko juuri teistä
      Muailmannavan valloittajiksi?
    </p>
    <hr />
    <h3>Virmavipellys </h3>
    <p>
      Vaikka askel saattaa tuntua raskaalta edellisen päivän urotekojen jälkeen,
      on aika lähteä haastamaan toisen päivän rastikierroksessa
      yhteistyökumppaneiden ja paikallisten firmojen pitämiä rasteja. Lähtekää
      yytsimään max. 8 IT-toverin kera, mitä nämä alan konkarit ovat keksineet
      päänne menoksi.
    </p>
    <hr />
    <h3>TINT & TILT, tinttaus ja tilttaus feat. Petri Nygård</h3>
    <p>
      Satoipa vettä tahi ei, ekan päivän päätteeksi tulee olemaan
      mä-mä-mä-mä-märkää, sillä lavalta kajahtaa Petri Nygårdin riimit Ravintola
      Apteekkarissa järjestettävissä jatkobileissä. Täällä bileet löytyvät
      kahdesta eri kerroksesta, alakerta tarjoilee istumapaikkoja karaoken kera
      niille, keillä meinaa veto loppua, toisesta kerroksesta löytyy sitten
      isompi tanssilattia missä kovemman kisakunnon omaavat yksilöt voivat
      kuluttaa kengänpohjia tanssilattialla aina yön pikku tunneille asti.
    </p>
    <hr />
    <h3>ReivIT</h3>
    <p>
      Toisena iltana juhlakansa kärrätään Calacuccoon, jossa DJ:t pitävät
      ReivITasanteen kuumana. Rauhallisemmille menijöille löytyy aina yhtä
      viihtyisä karaoke puoli, jossa voit vaikka testata kuinka "Lentävä
      kalakukko" lävähtää ilmoille.
    </p>
    <hr />
    <h3>Efecten Aamukylypy</h3>
    <p>
      Tapahtuman toisena aamuna ennen luentojen alkamista tapahtuman pääsponsori
      Efecte järjestää aamusaunan. Aamukylvyn, sekä pienen purtavan kera
      toivottavasti pahinkin ruoste edellispäivän jäljiltä saadaan poistettua ja
      uusi päivä startattua mahdollisimman tehokkaasti. Paikkoja tähän kehon ja
      mielen resetointiin on rajoitettu määrä, joten kannattaa olla skarppina
      myöhemmin julkaistavan ilmoittautumisen kanssa!
    </p>
    <hr>
  </div>
</template>