<template>
  <div>
    <div class="text-spacing page-margin">
      <h1></h1>
      <h2>Yhteystiedot</h2>
      <p>
        <a
          href="https://t.me/+YuvSFwW_yI1mNTk0"
          rel="noreferrer"
          target="_blank"
          >Tapahtuman Telegram ryhmä</a
        >
        <br><br>
        atk-ytp[at]serveriry.fi
      </p>
      <!-- <p>
        ##### **Yhteystiedot:** (Vaikka kuva linkkeinä, tg=ytp ryhmä,
        säpö=atk-ytp@serveriry.fi, fb=serveriry, ig=serveriry)
      </p> -->
      <hr />
      <h2>Tietotekniikkavinkkejä</h2>
      <hr />
      <p>
        Mitteepä tiet, jos tietokonneesj alakkaa renkata? Ossootko korjata ite
        vae maksakko isot rahnat huoltovirman kojjoottiloille? Jos et ossoo, nii
        luveppa tämä. Alakkaa mutkikkaammattii pelit kölökkästä.
      </p>

      <p>
        Jos tietokone kuatuu. Nosta se ylös. Vastasen varalle oes hyvä hommata
        asijalline atk-tuki, parrunpätkä käyp hyvin.
      </p>

      <p>
        Jos käättöjärjestelmä jummii. Käätä sitä noppeesti kiehuvassa veessä ja
        sitte pakastimessa. Näätä sille, miten paljon huonomminnii sen asijat
        voes olla. Eeköhän tokene.
      </p>

      <p>
        Jos ohjelma katkijaa. Vaeha kanavvoo. Jos out alaikäne, tarkista jotta
        ohjelma ei ou kielletty alta 16-vuotijaelta. Jos ee aata, nii soeta
        televisijon ohjelmapäevystyksee.
      </p>

      <p>
        Jos sähköposti ee kule. Uhkoo, että lopetat tykkännään konttuurissa
        käännin ja määt kyläkaapan asijakkaaksi.
      </p>

      <p>
        Jos rosesorj takkuvvaa. Se on kuitennii aena liijan vanaha ja aljtehone,
        nii että osta uusj.
      </p>

      <p>
        Jos hiiri ee liiku. Pistä kissa vierreen yöksj. Eeköhän ala vaahti
        maestuu.
      </p>

      <p>
        Jos näättö pimennöö. Sammuta valot ja sano, että osattaan sitä
        täällännii. Ja mää kalalle.
      </p>
      <hr>
    </div>
  </div>
</template>

<style lang="scss" scoped>
</style>