<template>
  <div>
    <div class="text-spacing page-margin">
      <Thanks />
      <hr />
      <h1>ATK-YTP Kuopio 2022</h1>
      <h3>Sanoiko joku ATK-YTP?</h3>
      <p>
        AaTeeKoo-Yhteistoimintapäivät, tai tutummin ATK-YTP vuosimallia 2022 järjestetään savon syvämessä eli Kuopijossa
        19.-21.10.2022. ATK-YTP on Tietotekniikan opiskelijoiden liiton, TiTOL:n vuosittainen Suomen IT-alan
        opiskelijoiden seminaaritapahtuma ja tänä vuonna vetovastuun ottaa isäntäkaupungin tietojenkäsittelytieteen
        ainejärjestö Serveri ry.
      </p>
      <p>
        Tällein lyhkäisesti tapahtuma pähkinänkuoressa, päivisin kuunnellaan alan rautaisten ammattilaisten luentoja
        kampuksella SN100 salissa ja iltaisin sitten verkostoidutaan muiden kanssaopiskelijoiden kanssa ja tutustutaan
        isäntäkaupunkiin mm. rastikierroksen merkeissä. Näiden lisäksi TiTOL järjestää tapahtuman ohessa myös
        syyskokouksensa ja tapahtuman toisena aamuna tapahtuman pääsponsori Efecte järjestää aamusaunan!
      </p>
      <TimetableSimplified />
      <div id="calltocenter">
        <NuxtLink to="/calendar"><button>Tarkempi aikataulu kalenterissa ➔</button></NuxtLink>
      </div>
    </div>
  </div>
</template>

<script>
import Sponsors from '../components/sponsors.vue';

export default {
  components: {
    Sponsors,
  },
};
</script>

<style lang="scss">
.contentwrap {
  height: 100%;
  width: 100%;
}

#calltocenter {
  display: grid;
  justify-items: center;
}
</style>

