<template>
  <div>
    <p>
      Vaikka lonkkavolvo on aina vaihtoehto, niin välillä on kätevämpi hyödyntää
      kaupunkimme muita liikkumistapoja, kuten kaupunkipyöriä (Freebike),
      paikallisliikenteen bussit (Vilkku- sovellus tai
      <a href="https://vilkku.kuopio.fi/"> nettisivut</a>, sekä
      sähköpotkulautoja (Bird ja TIER).
    </p>
    <p>
      Jos halajaa juusto katolla matkustaa niin kaupungista löytyy hyvä läjä
      taksejakin joka lähtöön <a href="https://www.vievie.fi/">VieVie</a>/
      <a href="https://taksi1.fi/">Taksiykköset</a>/
      <a href="https://meneva.fi/fi">Menevä</a>.
    </p>
  </div>
</template>