<template>
  <div>
    <div class="text-spacing page-margin">
      <h2>YTP matkaajan oleelliset paikat</h2>
      <p>
        Ulkopaikkakuntalaiselle yllättävää voi olla se ettei Kuopiossa keskustan
        alueella harrasteta 24h kauppoja. K-market pelimies on pisimpään auki
        (0.00) ja Niiralan Sale aukeaa ensimmäisenä (6.00).
      </p>
      <p>
        Toiseksi Savilahdentie yliopiston vieressä tunnetaan edelleen
        reaalimaailman muuttuvana labyrinttina eli työmaan vuoksi risteyksien
        sijainnit elävät.
      </p>
    </div>
    <div class="mapwrap">
      <iframe
        class="map"
        width="100%"
        height="100%"
        frameborder="0"
        allowfullscreen
        src="https://framacarte.org/en/map/atk-ytp-kuopio-2022_135367?scaleControl=false&miniMap=false&scrollWheelZoom=false&zoomControl=true&allowEdit=false&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false"
      ></iframe>
      <div class="page-margin">
        <p>
          <a href="https://framacarte.org/en/map/atk-ytp-kuopio-2022_135367"
            >See full screen</a
          >
        </p>
        <hr>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
// styles have to live here since it's the only way to keep iframe smaller than viewport height so user can scroll past it
.mapwrap {
  height: 80vh;

  .map {
    height: 100%;
  }
}

</style>