<template>
  <div class="text-spacing page-margin">
    <h1>Turvallisen tilan periaatteet</h1>
    <hr />
    <div>
      <p>
        Yhdenvertaisuuslain mukaan ketään ei saa syrjiä iän, alkuperän,
        kansalaisuuden, kielen, uskonnon, vakaumuksen, mielipiteen, poliittisen
        toiminnan, ammattiyhdistystoiminnan, perhesuhteiden, terveydentilan,
        vammaisuuden, seksuaalisen suuntautumisen, tai muun henkilöön liittyvän
        syyn perusteella.
      </p>
      <p>
        Turvallisemmilla tiloilla viitataan yhteisölliseen pyrkimykseen luoda
        turvallisuutta lisääviä käytäntöjä. Käytännössä turvallisemmissa
        tiloissa ainejärjestö ja sen jäsenet pyrkivät ottamaan vastuuta
        hankalista tilanteista. Ristiriitoja käsitellään sen sijaan, että niitä
        vain siedetään.
      </p>
      <ol>
        <li>
          <p>
            Ole kunnioittava. Älä kyseenalaista toisen erilaisuutta. Käsittele
            arkoja aiheita kunnioittavasti.
          </p>
        </li>
        <li>
          <p>
            Anna tilaa. Huolehdi että kaikki tulevat kuulluksi ja pääsevät
            osalliseksi.
          </p>
        </li>
        <li>
          <p>
            Kunnioita kaikkien henkistä ja fyysistä koskemattomuutta.
          </p>
        </li>
        <li>
          <p>
            Kunnioita jokaisen itsemäärittelyoikeutta äläkä tee oletuksia
            stereotypioiden perusteella.
          </p>
        </li>
        <li>
          <p>
            Älä toisinna puheessasi, teoissasi tai käytöksessäsi rasistisia ja
            syrjiviä stereotypioita edes “vitsillä” tai “ironisesti”.
          </p>
        </li>
        <li>
          <p>
            Älä häiritse ketään sanallisesti, koskemalla tai tuijottamalla. Ei:n
            sanominen tarkoittaa ei:tä. Lopeta tai muuta käytöstäsi, jos toinen
            sitä pyytää.
          </p>
        </li>
        <li>
          <p>
            Jos olet eri mieltä jonkun kanssa, koita ilmaista se rakentavalla ja
            rauhanomaisella tavalla. Keskity asiaan, älä henkilöön.
          </p>
        </li>
        <li>
          <p>
            Mikäli jokin tilanne tuntuu epämukavalta, nostathan asian esiin,
            esimerkiksi kertomalla siitä hallitukselle. Voit antaa palautetta
            tilanteista myös jälkikäteen ja anonyymisti.
          </p>
        </li>
        <li>
          <p>
            Puutu, mikäli todistat rasismia, syrjintää, häirintää tai muuta
            epäasiallista käytösä.
          </p>
        </li>
      </ol>
      <p>
        Serveri ry:n häirintäyhdyshenkilönä toimii sosiaalipoliittinen
        vastaavamme Valerija Kirpu.
      </p>
    </div>
    <hr>
  </div>
</template>