<template>
    <div id="defaultlayout">
        <div id="layoutgridtoggle">
            <!--<client-only placeholder="Loading...">-->
                <sidegrid class="left" />
            <!--</client-only>-->
        </div>

        <div class="right">
            <div class="contentcolumnwrap">
                <div id="ytphomelinkwrapmobile">
                    <NuxtLink to="/"> <iconsLogo id="icons-logo" /></NuxtLink>
                </div>
                <navbar class="navbar" />
                <div id="contentcolumn">
                    <div id="variable-content">
                        <slot id="defaultslot" />
                    </div>
                </div>
                <Sponsors />
                <div id="logodiv">
                    <div class="serverilogo">
                        <a href="https://serveriry.fi" target="_blank"
                            ><iconsServeri
                        /></a>
                    </div>
                    <a href="https://serveriry.fi" target="_blank"
                        ><p>Serveri ry</p></a
                    >
                </div>
            </div>
            <div id="ytplogowrap">
                <div id="ytphomelinkwrap">
                    <NuxtLink to="/"> <iconsLogo id="icons-logo" /></NuxtLink>
                </div>
                <img
                    src="/assets/images/source-of-traumas.webp"
                    alt="woot"
                    id="nightmare-serveri"
                />
            </div>
        </div>
    </div>
</template>
<script>
export default {};
</script>
<style lang="scss">
#defaultlayout {
    display: grid;
    grid-template-columns: 1fr 5fr;
    .right {
        display: grid;
        grid-template-columns: 4fr 1fr;
        //margin-right: 5rem;
        margin-top: 4rem;
        .contentcolumnwrap {
            height: 100%;
        }
        #contentcolumn {
            display: flex;
            flex-direction: column;
            //grid-template-columns: 1fr;
            align-items: flex-start;

            #defaultslot {
                height: 100%;
            }

            #variable-content {
                height: 100%;
                align-self: stretch;
            }

            @keyframes fadeIn {
                0% {
                    opacity: 0.1;
                }
                50% {
                    opacity: 0.4;
                }
                60% {
                    opacity: 0.6;
                }
                70% {
                    opacity: 0.1;
                }
                80% {
                    opacity: 0.9;
                }
                85% {
                    opacity: 0.3;
                }
                90% {
                    opacity: 0.9;
                }
                95% {
                    opacity: 0.8;
                }
                100% {
                    opacity: 0.1;
                }
            }
        }
        .navbar {
            //height: 5rem;
        }
        #ytphomelinkwrapmobile {
            display: none;
        }
        #logodiv {
            bottom: 0;
            align-self: flex-end;
            max-height: 6rem;
            margin-top: 8rem;
            margin-bottom: 1rem;
            display: grid;
            justify-items: center;
            .serverilogo {
                height: 3rem;
            }
        }
        #ytplogowrap {
            margin-left: 1rem;
            display: grid;
            justify-items: right;
            margin-right: 5rem;

            #icons-logo {
                height: 10rem;
            }
            #nightmare-serveri {
                margin-top: 5rem;
                justify-self: end;
                align-self: end;
                max-width: 100%;
                max-height: 35rem;
                animation: fadeIn 30s infinite;
            }
        }
    }
    @media only screen and (max-width: 1040px) {
        display: grid;
        grid-template-columns: 1fr;

        #layoutgridtoggle {
            display: none;
        }

        .right {
            //margin-left: 3rem;
            //margin-right: 3rem;
        }

        #ytplogowrap {
            display: none !important;
        }

        #ytphomelinkwrapmobile {
            display: grid !important;
            justify-items: center;
            margin-bottom: 2rem;
            a {
                width: 9rem;
            }

            justify-self: center;
            // margin: 0 auto;
        }

        .right {
            display: grid;
            grid-template-columns: 1fr;
            //margin-right: 5rem;
            margin-top: 4rem;
            .contentcolumnwrap {
                height: 100%;
            }
            #contentcolumn {
                display: flex;
                flex-direction: column;
                //grid-template-columns: 1fr;
                align-items: flex-start;

                #defaultslot {
                    height: 100%;
                }

                #variable-content {
                    height: 100%;
                    align-self: stretch;
                }
            }
        }
    }
    @media only screen and (max-width: 500px) {
        .right {
            //margin-left: 1.5rem;
            //margin-right: 1.5rem;
        }
    }
}
</style>